html {
  background: #40c4ff;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

@import url("https://use.typekit.net/atu3jmx.css");
@import url("https://fonts.googleapis.com/css?family=Special+Elite");

.home {
  background-image: url("bg.png");
}

h1{
    font-family: "Special Elite";
    font-size: 45px;
}

h2{
    font-family: "industry", sans-serif;
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
}

p {
  font-family: "industry", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

body{
  font-family: "industry", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

label{
  font-family: "industry", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.75rem;
 }

input {
  -webkit-appearance: none;
  width: 40%;
  height: 50px;
  border-radius: .5em;
  font-family: "Special Elite";
  text-align: center;
  font-size: large;
  border: none;
  background-color: #eeeeee;
  margin-bottom: 10px;
} 

#pswd {
  -webkit-appearance: none;
  width: 60%;
  height: 50px;
  border-radius: .5em;
  font-family: "Special Elite";
  text-align: center;
  font-size: x-large;
  border: none;
  background-color: #eeeeee;
}

.centerbox{
  height: 100vh;
  width: 400px;
  right:0px;
  background-color: #ff8a65;
  box-shadow: 0px 0px 300px #0f76a7;
  position: absolute;
  padding: 0px 10px 0px 10px;
 }

 .gate {
height: 50%;
padding-top: 45%;
 }


.codebox {
  font-family: "industry", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0px 10px 0px 10px;
}

#go {
  -webkit-appearance: none;
  font-family: "industry", sans-serif;
  font-weight: normal;
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  background-color: #40c4ff;
  border: none;
  border-radius: .5em;
  transition: .20s ease-in-out;
}

  #go:hover {
  background-color: #40d4ff;
   }

   #submit {
    -webkit-appearance: none;
    font-family: "industry", sans-serif;
    font-weight: normal;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    background-color: #ff8a65;
    border: none;
    border-radius: .5em;
    transition: background-color .20s ease-in-out;
  }
  
    #submit:hover {
    background-color: #ffaa65;
    box-shadow: 0px 0px 2px #212121
     }


  @media only screen and (max-width: 1000px) {

  html{
    background: #ff8a65;
      }

  h1{
    font-size: 1.75rem;
      }
  
      
  input {
        width: 60%;
        margin-bottom: 0px;
        height: 30px;
              } 

   #go {
        width: 30%;
        height: 40px;
        background-color: #40c4ff;
      }

  #go:hover {
        background-color: #8fd2f1;
        }

   #submit {
        width: 40%;
        height: 50px;
        background-color: #40c4ff;
      }


      .centerbox{
        height: 60%;
        width: 100%;
        background-color: #40c4ff;
        box-shadow: 0px 0px 300px #b95d41;
        position: fixed;
        top: 25%;
        padding: 5px 0px 5px 0px;
        margin: auto;
      
       }

       .gate{
         margin-top: -40%;
       }
    
