html {
  background: #40c4ff;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

@import url("https://use.typekit.net/atu3jmx.css");

@import url("https://fonts.googleapis.com/css?family=Special+Elite");

h1{
    font-family: "Special Elite";
    font-size: 44px;

}

h2{
    font-family: "industry", sans-serif;
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
}

p {
  font-family: "industry", sans-serif;
  font-weight: normal;
  text-transform: uppercase;

}

body{
  margin: 0;
}


.content{
  height: 33%;
  width: 100%;
  background-color: #ff8a65;
  box-shadow: 0px 0px 30px #0c5170;
  position: fixed;
top: 33%;
padding: 10px 0px 10px 0px;

 }


.codebox {
  font-family: "industry", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0px 10px 0px 10px;
}

#go {
  -webkit-appearance: none;
  font-family: "industry", sans-serif;
  font-weight: normal;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  background-color: #ff8a65;
  border: none;
  border-radius: .5em;
  transition: background-color .20s ease-in-out;
}

  #go:hover {
  background-color: #ffaa65;
  box-shadow: 0px 0px 2px #212121
   }

   #submit {
    -webkit-appearance: none;
    font-family: "industry", sans-serif;
    font-weight: normal;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    background-color: #ff8a65;
    border: none;
    border-radius: .5em;
    transition: background-color .20s ease-in-out;
  }
  
    #submit:hover {
    background-color: #ffaa65;
    box-shadow: 0px 0px 2px #212121
     }

   label{
    font-family: "industry", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
   }

  input {
    -webkit-appearance: none;
    width: 40%;
    height: 50px;
    border-radius: .5em;
    font-family: "Special Elite";
    text-align: center;
    font-size: large;
    border: none;
    background-color: #eeeeee;
  } 

  @media only screen and (max-width: 900px) {

  html{
    background: #ff8a65;
      }

  input {
        width: 60%;
              } 

   #go {
        width: 40%;
        height: 50px;
        background-color: #40c4ff;
      }

   #submit {
        width: 40%;
        height: 50px;
        background-color: #40c4ff;
      }

    }